@page "/inventories"

<h3>Inventory List</h3>
<div class="mb-4"></div>

<SearchComponent OnSearch="HandleSearch" />

<InventoryListComponent SearchInventoryFilter="@inventoryNameToSearch"/>
<div class="mb-1"></div>
<a href="/addinventory" class="btn btn-primary">Add Inventory</a>


@code {
	private string? inventoryNameToSearch;
	private void HandleSearch(string searchFilter)
	{
		inventoryNameToSearch = searchFilter;
	}
}
