@page "/inventories"

<h3>Inventory List</h3>
<div class="mb-4"></div>
<InventoryListComponent/>
<div class="mb-1"></div>
<a href="/addinventory" class="btn btn-primary">Add Inventory</a>


@code {

}
