@page "/inventories"

<h3>Inventory List</h3>
<div class="mb-4"></div>

<EditForm Model="inventoryNameToSearch" FormName="formSearchInv" class="mb-1">
	<div class="input-group">
		<InputText 
			@bind-Value="inventoryNameToSearch"
			class="form-control"
			placeholder="Search for a inventory name..."/>
			<button type="submit" class="btn btn-success input-group-text">Search</button>
	</div>
</EditForm>

<InventoryListComponent SearchInventoryFilter="@inventoryNameToSearch"/>
<div class="mb-1"></div>
<a href="/addinventory" class="btn btn-primary">Add Inventory</a>


@code {
	[SupplyParameterFromForm]
	private string inventoryNameToSearch { get; set; } = string.Empty;
}
