
@if(searchFilter is null)
{
	searchFilter = string.Empty;
}
<EditForm Enhance="true" Model="searchFilter" FormName="formSearch" class="mb-3" OnSubmit="Search">
	<div class="input-group d-flex gap-3 ">
		<InputText @bind-Value="searchFilter"
		class="form-control"
		placeholder="Search here..." />
		<button type="submit" class="btn btn-success input-group-text">Search</button>
	</div>
</EditForm>

@code {
	/*
	 * Blazor SSR 
	 * Form Enhance helps with partial reloading instead of complete page reloading
	 * 
	 */
	[SupplyParameterFromForm]
	private string searchFilter { get; set; } = string.Empty;
	[Parameter]
	public EventCallback<string> OnSearch{ get; set; }

	private void Search()
	{
		OnSearch.InvokeAsync(searchFilter);
	}
}
